/* Estilos Específicos da Página Sobre */

body {
    background: #291003;
    color: white;
    min-height: 100vh;
}


.hero-section {
    padding: 60px 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.content-left,
.content-right {
    flex: 1 1 450px;
}



.hero-pizza {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    border: 3px solid rgba(255, 68, 0, 0.3);
    filter: drop-shadow(0 0 20px rgba(255, 69, 0, 0.3));
}

.content-right h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

.content-right p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 30px;
}

.text-brasa {
    color: #FF4400;
}

.link-botao-central {
    display: inline-block;
    background-color: #FF4400;
    color: #ffffff;
    text-decoration: none;
    padding: 13px 24px;
    border-radius: 8px;
    font-weight: bold;
}

.link-botao-central:hover {
    background-color: #b42a00;
}

.btn-pedido {
    background-color: #FF4500;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-pedido:hover {
    background-color: #e63e00;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        gap: 15px;
        flex-wrap: wrap;
    }

    .content-right h2 {
        font-size: 2rem;
    }
}
